$background-button-color: #EEE;
$border-color-normal: #CCC;
$border-color-shadow: #333;

#nav-bar {
    position: fixed;
    top:0px;
    background-color: #00a087;
    width: 100%;
    color: #e8fdff;
    height: 80px;
    padding: 0 2em;
    z-index: 100;
}
    .logo{
        width: 80px;
        height: 80px;
        float: left;
    }

    .header{
        font-size: 2em;
        line-height: 250%;
        float: left;
        padding-left: 10px;
    }

    > a:hover, .compose-button.form-shown {
        line-height: 250%;
        background-color: #FFFFFF;
        text-decoration: none;
        color: darkgreen;
        padding: 2px 6px;
        border: 1px solid darkgreen;
        border-radius: 10px;
        position: fixed;
        right: 10px;
        top: 15px;
    }

    a{
        transition: 300ms;
    }

.compose-button {
    line-height: 250%;
    background-color: $background-button-color;
    text-decoration: none;
    color: $border-color-normal;
    padding: 2px 6px;
    border: 1px solid;
    border-color: $border-color-normal $border-color-shadow $border-color-shadow $border-color-normal;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    top: 15px;
}
