.tweet {
    margin: 2em;
    border-radius: 5px;
    background: white;
    border: 2px solid lightgray;
}

.tweet > header {
    background: lightgray;
    padding: 1em;
    padding-bottom: 65px;
}

.tweet > div {
    padding: 1em;
    clear: both;
}

.tweet > footer {
    padding: 0.5em;
    border-top: 0.5px solid lightgray;
}

.tweet .userName {
    float: left;
    line-height: 150%;
    font-size: 1.5em;
    margin-left: 5px;
}

.tweet .userHandle{
  float: right;
}

.tweet header > img {
    border-radius: 5px;
    float: left;
}

.tweet .hover-icons{
  float: right;
  display: contents;
}